/* ------------------------------------- Common CSS--------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainfont {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 1px;
}
.otherfont {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}
.white {
  color: white;
} 
h1 {
  font-size: 60px;
  margin-top: -1px;
  padding-top: 30px;
  text-align: center;
  letter-spacing: 2px;
}
.subheading {
  font-size: 20px;
  margin-top: -1px;
  text-align: center;
}
body {
  background-color: #1a1a2e;
}
/* --------------------------------- Navbar & Introduction -------------------------------------- */

#introduction {
  background-color: #1a1a2e;
}
#introduction main {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  column-gap: 1rem;
  padding: 25px 80px 25px 80px;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.navbar .right {
  list-style-type: none;
  grid-area: 1/4/2/7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .right li a:hover {
  cursor: pointer;
  color: #75c2f6 !important;
}
.navbar .left {
  color: lightblue;
  list-style-type: none;
  font-size: 15px;
  grid-area: 1/1/2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 90%;
  margin: auto;
}
.intro {
  padding-bottom: 3em;
  margin-top: 100px;
  font-size: 60px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#introtext {
  color: lightblue;
  grid-area: 1/2/4/6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#smalltext {
  display: flex;
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.4em;
  font-family: "Poppins", sans-serif;
}
#portfolio-img {
  grid-area: 1/7/4/8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
#portfolio-img img {
  height: 300px;
  filter: drop-shadow(10px 10px 50px #0f3460);
}
.underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 4em;
}
.social {
  font-size: 2.5rem;
  margin-top: 20px;
}
.social:hover {
  cursor: pointer;
}
.social i {
  padding: 10px;
}
.social i:hover {
  color: white;
  filter: drop-shadow(0px 0px 25px white);
}
.resume-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
  background-color: rgba(15, 51, 96, 0.6);
  padding: 8px 40px;
  font-size: 1.5rem;
  border-radius: 50px;
  border: none;
}
.resume-btn:hover {
  color: rgba(255, 255, 255, 0.8) !important;
  cursor: pointer;
  transition-duration: 0.5s;
  background-color: #0f3460;
}
.resume-btn img {
  height: 20px;
  padding-right: 10px;
}
/*------------------------------------------- Skills --------------------------------------------- */

#skills {
  padding: 50px 0;
  background-color: #16213e;
}
#skills main {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}
.boxes {
  margin: 0 17%;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: center;
}
.box {
  height: 170px;
  width: 170px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(173, 216, 230, 0.3);
  background-color: rgba(173, 216, 230, 0.1);
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
}
.img-h {
  height: 7em;
}
/*------------------------------------------ Projects -------------------------------------------- */

#projects {
  padding: 50px 0;
  background-color: #1a1a2e;
}
#projects main {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}
.containers-box {
  margin: 0 7%;
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 60px;
}
.container {
  background-color: #0f3460;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 2px rgba(128, 128, 128, 0.7);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wrapper {
  width: 220px;
  height: 100%;
}
.banner-image {
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}
.img1 {
  background-image: url(./images/project-image.png);
}
.img2 {
  background-image: url(./images/musicplayer.png);
}
.img3 {
  background-image: url(./images/calculator.png);
}
.img4 {
  background-image: url(./images/add_details.png);
}
.img5 {
  background-image: url(./images/pingpong.png);
}
.img6 {
  background-image: url(./images/singledigitcounter.png);
}
.img7 {
  background-image: url(./images/toggleview.png);
}
.img8 {
  background-image: url(./images/project-image.png);
}
.wrapper h1 {
  font-family: "Titillium Web", sans-serif;
  color: rgba(255, 255, 255, 0.98);
  text-transform: uppercase;
  font-size: 1.5em;
}
.wrapper p {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1em;
}
.button-wrapper {
  margin-top: 18px;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.outline {
  background: transparent;
  color: #e94560;
  border: 1px solid #e94560;
  transition: all 0.3s ease;
}
.outline:hover {
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}
.fill {
  background: #e94560;
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  transition: all 0.3s ease;
}
.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}
/*----------------------------------------- Achievements ------------------------------------------- */

#achievements {
  padding: 50px 0;
  background-color: #16213e;
}
#achievements main {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}
.achieves {
  margin: 50px 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}
.d1 {
  grid-area: 1/1/2/2;
}
.d2 {
  grid-area: 2/1/3/2;
}
.d3 {
  grid-area: 3/1/4/2;
}
.d4 {
  grid-area: 4/1/5/2;
}
.d5 {
  grid-area: 5/1/6/2;
}
.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  padding: 1em;
  color: rgba(255, 255, 255, 0.8);
}
.a1 {
  grid-area: 1/2/2/3;
}
.a2 {
  grid-area: 2/2/3/3;
}
.a3 {
  grid-area: 3/2/4/3;
}
.a4 {
  grid-area: 4/2/5/3;
}
.a5 {
  grid-area: 5/2/6/3;
}
.achieve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.h-achieve {
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5em;
  color: lightblue;
}
.achieves p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.5);
}

/*------------------------------------------ Contact --------------------------------------------- */

#contact {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1a1a2e;
}
#contact main {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}
form {
  display: flex;
  justify-content: center;
}
.msg-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding: 70px;
  background-color: #16213e;
  border-radius: 80px 80px 0 0;
  border: 2px solid #0f3460;
  border-bottom: none;
}
input,
textarea {
  resize: none;
  min-width: 20em;
  width: 60%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.3em;
  font-family: "Titillium Web", sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
textarea {
  height: 120px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.form-button {
  all: unset;
  font-family: sans-serif;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
  background-color: #0f3460;
  border: none;
  border-radius: 30px;
}
.form-button:hover {
  transition: all 0.3s ease;
  background-color: #032b5c;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
.footer-container {
  width: 88%;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.name {
  padding-top: 20px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0px;
}
.address-1 {
  padding-top: 10px;
  font-size: 20px;
}
.address-2 {
  width: 85%;
  font-size: 15px;
}
.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-area: 1/1/3/2;
}
.left-footer a {
  font-size: 23px;
  padding-top: 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
}
.left-footer a:hover {
  color: white;
  filter: drop-shadow(0px 0px 25px white);
}
.left-footer img {
  height: 23px;
  margin: auto;
}
.copyright {
  font-size: 15px;
  grid-area: 2/3/3/4;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
}
.footer-container .social {
  grid-area: 1/3/2/4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-container .social a {
  padding: 7px;
}
/*---------------------------------------- Media Queries ------------------------------------------*/

@media (max-width: 350px) {
  .navbar {
    font-size: 0.6rem !important;
  }
}
@media (max-width: 480px) {
  .navbar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 40px);
    padding: 10px 15px;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  .navbar .right {
    list-style-type: none;
    grid-area: 2/1/3/8;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar .left {
    list-style-type: none;
    font-size: 10px;
    grid-area: 1/3/2/6;
    display: flex;
    justify-content: center;
  }
  .intro {
    margin-top: 30px;
    font-size: 23px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  #introtext {
    grid-area: 2/1/3/2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
  }
  #smalltext {
    display: flex;
    padding-top: 10px;
    width: 80%;
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.4em;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  #portfolio-img {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }
  #portfolio-img img {
    height: 120px;
    filter: drop-shadow(5px 5px 40px #0f3460);
  }
  .social {
    font-size: 1rem;
    margin-top: 20px;
  }
  .social i {
    padding: 5px;
  }
  .resume-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    background-color: rgba(15, 51, 96, 0.5);
    padding: 3px 25px;
    font-size: 0.8rem;
    border-radius: 50px;
    border: none;
  }
  .resume-btn img {
    height: 10px;
    padding-right: 7px;
  }
  h1 {
    font-size: 20px;
    margin-top: -1px;
    padding-top: 30px;
    text-align: center;
    letter-spacing: 3px;
  }
  .subheading {
    font-size: 9px;
    margin-top: -1px;
    text-align: center;
  }
  .boxes {
    margin: 0 17%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
  }
  .box {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
  }
  .img-h {
    height: 5em;
  }
  .date {
    font-size: 1em;
  }
  .h-achieve {
    font-size: 0.8em;
  }
  .achieve p {
    font-size: 0.5em;
  }
  .achieve p img {
    height: 6px;
  }
  .msg-box {
    margin-top: 50px;
    padding: 30px;
    border-radius: 20px 20px 0 0;
  }
  input,
  textarea {
    width: 100%;
    max-width: 18em;
    font-size: 0.5em;
    margin-bottom: 20px;
  }
  textarea {
    height: 50px;
  }
  .form-button {
    font-size: 0.4em;
    color: rgba(255, 255, 255, 0.7);
    padding: 3px 15px;
    border-radius: 30px;
  }
  .footer-container {
    width: 88%;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
  }
  .name {
    padding-top: 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0px;
  }
  .address-1 {
    padding-top: 5px;
    font-size: 12px;
  }
  .address-2 {
    width: 60%;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
  }
  .left-footer {
    grid-area: 1/1/2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-footer a {
    font-size: 13px;
    padding-top: 8px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
  }
  .left-footer a:hover {
    color: white;
    filter: drop-shadow(0px 0px 25px white);
  }
  .left-footer img {
    height: 13px;
    margin: auto;
  }
  .copyright {
    font-size: 8px;
    grid-area: 2/1/3/3;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
  }
  .footer-container .social {
    grid-area: 2/1/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  .footer-container .social a {
    padding: 3px;
  }
}
@media (min-width: 481px) and (max-width: 700px) {
  .navbar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    padding: 25px 30px 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  .navbar .right {
    list-style-type: none;
    grid-area: 1/2/2/7;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar .left {
    list-style-type: none;
    font-size: 10px;
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .intro {
    margin-top: 50px;
    font-size: 27px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  #introtext {
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    padding-left: 60px;
  }
  #smalltext {
    display: flex;
    padding-top: 15px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.4em;
    font-family: "Poppins", sans-serif;
  }
  #portfolio-img {
    grid-area: 1/3/2/5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
  #portfolio-img img {
    height: 160px;
    filter: drop-shadow(8px 8px 45px #0f3460);
  }
  .social {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  .social i {
    padding: 5px;
  }
  .resume-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 17px;
    background-color: rgba(15, 51, 96, 0.5);
    padding: 3px 25px;
    font-size: 0.8rem;
    border-radius: 50px;
    border: none;
  }
  .resume-btn img {
    height: 10px;
    padding-right: 7px;
  }
  h1 {
    font-size: 25px;
    margin-top: -1px;
    padding-top: 30px;
    text-align: center;
    letter-spacing: 3px;
  }
  .subheading {
    font-size: 15px;
    margin-top: -1px;
    text-align: center;
  }
  .boxes {
    margin: 0 17%;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
  }
  .box {
    height: 120px;
    width: 120px;
    border-radius: 5px;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
  }
  .img-h {
    height: 6em;
  }
  .date {
    font-size: 1.3em;
  }
  .h-achieve {
    font-size: 1em;
  }
  .achieve p {
    font-size: 0.8em;
  }
  .achieve p img {
    height: 9px;
  }
  #contact {
    padding-top: 60px;
    padding-bottom: 10px;
    background-color: #1a1a2e;
  }
  .msg-box {
    margin-top: 50px;
    padding: 50px;
    border-radius: 30px 30px 0 0;
  }
  input,
  textarea {
    width: 80%;
    max-width: 18em;
    font-size: 0.7em;
    margin-bottom: 30px;
  }
  textarea {
    height: 50px;
  }
  .form-button {
    font-size: 0.5em;
    color: rgba(255, 255, 255, 0.7);
    padding: 4px 21px;
    border-radius: 30px;
  }
  .footer-container {
    width: 88%;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
  }
  .name {
    padding-top: 20px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0px;
  }
  .address-1 {
    padding-top: 6px;
    font-size: 13px;
  }
  .address-2 {
    width: 60%;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
  }
  .left-footer {
    grid-area: 1/1/2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-footer a {
    font-size: 13px;
    padding-top: 8px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
  }
  .left-footer a:hover {
    color: white;
    filter: drop-shadow(0px 0px 25px white);
  }
  .left-footer img {
    height: 13px;
    margin: auto;
  }
  .copyright {
    font-size: 9px;
    grid-area: 2/1/3/3;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
  }
  .footer-container .social {
    grid-area: 2/1/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  .footer-container .social a {
    padding: 3px;
  }
}
@media (min-width: 701px) and (max-width: 960px) {
  .navbar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    padding: 25px 30px 20px;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .navbar .right {
    list-style-type: none;
    grid-area: 1/3/2/8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .left {
    list-style-type: none;
    font-size: 10px;
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .intro {
    margin-top: 50px;
    font-size: 35px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
  }
  #introtext {
    grid-area: 1/2/2/6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 30px;
  }
  #smalltext {
    display: flex;
    padding-top: 15px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.4em;
    width: 80%;
    font-family: "Poppins", sans-serif;
  }
  #portfolio-img {
    grid-area: 1/7/2/8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #portfolio-img img {
    height: 180px;
    filter: drop-shadow(8px 8px 45px #0f3460);
  }
  .social {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .social i {
    padding: 7px;
  }
  .resume-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 17px;
    background-color: rgba(15, 51, 96, 0.5);
    padding: 5px 30px;
    font-size: 0.9rem;
    border-radius: 50px;
    border: none;
  }
  .resume-btn img {
    height: 10px;
    padding-right: 8px;
  }
  .containers-box {
    margin: 0 5%;
  }
  h1 {
    font-size: 30px;
    margin-top: -1px;
    padding-top: 30px;
    text-align: center;
    letter-spacing: 3px;
  }
  .subheading {
    font-size: 17px;
    margin-top: -1px;
    text-align: center;
  }
  .boxes {
    margin: 0 17%;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
  }
  .box {
    height: 140px;
    width: 140px;
    border-radius: 5px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
  }
  .img-h {
    height: 6em;
  }
  .date {
    font-size: 1.5em;
  }
  .h-achieve {
    font-size: 1.3em;
  }
  .achieve p {
    font-size: 0.9em;
  }
  .achieve p img {
    height: 10px;
  }
  .msg-box {
    margin-top: 50px;
    padding: 50px;
    border-radius: 40px 40px 0 0;
  }
  input,
  textarea {
    width: 70%;
    max-width: 20em;
    font-size: 0.8em;
    margin-bottom: 40px;
  }
  textarea {
    height: 50px;
  }
  .form-button {
    font-size: 0.6em;
    color: rgba(255, 255, 255, 0.7);
    padding: 5px 25px;
    border-radius: 30px;
  }
  .name {
    padding-top: 12px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0px;
  }
  .address-1 {
    padding-top: 6px;
    font-size: 14px;
  }
  .address-2 {
    width: 90%;
    font-size: 11px;
  }
  .left-footer a {
    font-size: 15px;
    padding-top: 8px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
  }
  .left-footer a:hover {
    color: white;
    filter: drop-shadow(0px 0px 25px white);
  }
  .left-footer img {
    height: 15px;
    margin: auto;
  }
  .copyright {
    font-size: 10px;
    grid-area: 2/3/3/4;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
  }
  .footer-container .social {
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .footer-container .social a {
    padding: 5px;
  }
}
@media (min-width: 961px) and (max-width: 1200px) {
  .navbar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    padding: 25px 30px 20px;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .navbar .right {
    list-style-type: none;
    grid-area: 1/4/2/8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .left {
    list-style-type: none;
    font-size: 12px;
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .intro {
    margin-top: 50px;
    font-size: 40px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
  }
  #introtext {
    grid-area: 1/2/2/6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 30px;
  }
  #smalltext {
    display: flex;
    padding-top: 15px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.4em;
    width: 80%;
    font-family: "Poppins", sans-serif;
  }
  #portfolio-img {
    grid-area: 1/7/2/8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #portfolio-img img {
    height: 200px;
    filter: drop-shadow(10px 10px 50px #0f3460);
  }
  .social {
    font-size: 1.8rem;
    margin-top: 20px;
  }
  .social i {
    padding: 8px;
  }
  .resume-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 17px;
    background-color: rgba(15, 51, 96, 0.5);
    padding: 5px 35px;
    font-size: 1rem;
    border-radius: 50px;
    border: none;
  }
  .resume-btn img {
    height: 12px;
    padding-right: 7px;
  }
  .containers-box {
    margin: 0 3%;
  }
  h1 {
    font-size: 40px;
    margin-top: -1px;
    padding-top: 30px;
    text-align: center;
    letter-spacing: 3px;
  }
  .subheading {
    font-size: 17px;
    margin-top: -1px;
    text-align: center;
  }
  .boxes {
    margin: 0 17%;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
  }
  .box {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
  }
  .img-h {
    height: 6em;
  }
  .date {
    font-size: 2em;
  }
  .h-achieve {
    font-size: 1.7em;
  }
  .achieve p {
    font-size: 1em;
  }
  .achieve p img {
    height: 12px;
  }
  .msg-box {
    margin-top: 50px;
    padding: 60px;
    border-radius: 60px 60px 0 0;
  }
  input,
  textarea {
    width: 60%;
    max-width: 20em;
    font-size: 0.9em;
    margin-bottom: 50px;
  }
  textarea {
    height: 80px;
  }
  .form-button {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.7);
    padding: 7px 30px;
    border-radius: 30px;
  }
  .name {
    padding-top: 15px;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0px;
  }
  .address-1 {
    padding-top: 8px;
    font-size: 16px;
  }
  .address-2 {
    width: 85%;
    font-size: 12px;
  }
  .left-footer a {
    font-size: 18px;
    padding-top: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
  }
  .left-footer a:hover {
    color: white;
    filter: drop-shadow(0px 0px 25px white);
  }
  .left-footer img {
    height: 18px;
    margin: auto;
  }
  .copyright {
    font-size: 13px;
    grid-area: 2/3/3/4;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
  }
  .footer-container .social {
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .footer-container .social a {
    padding: 6px;
  }
}
@media (min-width: 1500px) {
  .navbar {
    font-size: 1.3rem;
  }
}
